 <div class="chat-box-wrapper">
     <div class="all-users">
        <div class="title">Users online</div>
        <div class="no-users-online">{{usersOnline}} online</div>
     </div>

     <div class="empty"></div>
     
     <div class="chat-box">
        <div class="title">Chat box</div>
        <div class="msg-container"></div>
        <form class="input-message">
            <input type="text" class="input-message" placeholder="Type your message">
            <div class="btn btn-send-message"><span>Send</span></div>
        </form>
     </div>
 </div>
