 <div class="all-users">
    <div class="title">Users online</div>
</div>

<div class="chat-box">
    <div class="title">App Chat</div>

    <div class="container"></div>

    <div class="info"></div>
    <form >
        <input type="text" class="input-message">
        <button type="submit" class="btn-send-message">Send</button>
    </form>
</div>
