<div class="modal">
    <div class="container">
        <div class="title">{{notification.title}}</div>
        <div class="message">{{notification.message}}</div>
        <div class="btn" onclick="history.back()">OK! I got it</div>
    </div>
</div>