@import 'variables.scss';

.chat-box-wrapper {
    display: flex;
    justify-content: space-between;
}

.chat-box-wrapper > div {
    margin: 0 8px;
}

.info-room {
    display:flex;
    flex-direction: column;
    width: 15%;
    justify-content:space-between;
}

.info-room .empty {
    flex-grow: initial;
    height: 10%;
}

.all-users {
    box-shadow: 0 0 4px black;
    padding: 8px;
    text-align: center;
    overflow-y:scroll;
    flex-grow: 1;
}

.all-users .title {
    font-size: calc($my-font-size * 4/5);
}

.all-users .no-users-online {
    font-size: calc($my-font-size * 2/3);
}

.user-rooms {
    box-shadow: 0 0 4px black;
    padding: 8px;
    text-align: center;
    flex-grow: 2;
}

.user-rooms * {
    opacity: 1;
}

.user-rooms .title {
    font-size: calc($my-font-size * 4/5);
}

.user-rooms .container {
    display:flex;
    flex-direction: column;
    overflow-y:scroll;
    height: 70%;
    width: 80%;
    box-shadow: 0 0 4px black;
    margin:16px auto 0;
    opacity: 1;

}

.user-rooms .container  .room-item {
    font-size: calc($my-font-size * 2/3);
    width: 90%;
    margin: 2px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.room-item:hover {
    opacity: 1 !important;
    cursor:default;
}

.room-management {
    box-shadow: 0 0 4px black;
    padding: 8px;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-content: space-around;
    height: 20%;
}

.room-management .title {
    font-size: calc($my-font-size * 4/5);
}

.room-management .options {
    margin:4px 2px;
    font-size: calc($my-font-size * 2/3);
}

.room-management .form-action-room {
    display: initial;
    width: 100%;
    box-shadow: none;
    margin: 4px auto;
}

.form-action-room .input-room-action {
    width: 100%;
    // display:inline-block;
    margin-left: auto;
    margin-right: auto;
}


.chat-box {
    padding: 8px;
    text-align: center;
    flex-grow: 4;
    margin: 0 16px;
    box-shadow: 0 0 4px black;
    height: 80vh;
}

.chatting {
    width: 15%;
    display: flex;
    flex-direction: column;
}

.chatting .title {
    font-size: calc($my-font-size * 4/5);
    margin-top: 8px;
}

.chatting .partner {
    height: 30%;
    text-align: center;
    box-shadow: 0 0 4px black;
}

.chatting .empty {
    height: 20px ;
}

.msg-container {
    width: 80%;
    height: 70%;
    margin: 16px auto;
    box-shadow: 0 0 4px black;
    // overflow-x: hidden;
    overflow-y: scroll;
    overflow-wrap: break-word;
}

.input-message {
    display:flex;
    flex-direction: row;
    margin-top: 64px;
    min-height: 32px;
    box-shadow: none;
}

.input-message >input {
    display: initial;
    margin:0 8px 0  0;
    height: 100%;
    width: 600px;
    text-align: center;
}

.input-message .btn-send-message {
    height: 100%;
    margin: 0 0 0 8px;
    padding: 2px;
}

.message {
    font-size: calc($my-font-size * 2/3);
    min-width: 20%;
    max-width: 50%;
    height: auto;
    display:flex;
    margin-top: 20px;
}

.message img {
    height: 25px;
    width: 25px;
    margin: 2px 4px;
    border-radius: 50%;
}

.message .message-content {
    display:block;
    background-color: aqua;
    padding: 4px;
    border-radius: 8px;
    margin: auto 0;
    max-width: 200px;
    text-align: justify;
    word-wrap: break-word;
}

.message .content {
    position: relative;
}

.self {
    justify-content: flex-end;
    margin-left: 50%;
}

.others {
    justify-content: flex-start;
}

.sender-name {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(calc(-100% - 4px));
    z-index: 111;
    font-size: calc($my-font-size / 2);
    width: 200px;
    text-align: left;
}


.info-partner {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 16px 8px;
}

.info-partner img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid black
}

.info-partner a {
    text-decoration: none;
    opacity: 1;
    font-size: calc($my-font-size * 2/3);
}

.icon.room-options {
    padding: 8px;
    position: relative;
    margin-right: 8px;
    margin-bottom: 4px;
}

.icon.room-options form {
    display:inline-block;
    width: 15px;
    height: 15px;
    margin: 0;
    position: absolute;
    top: 0;
    left:0;
    box-shadow: none;
    font-size: 20px;
}

.icon.room-options {
    transition: background-color 0.2s ease;
    border-radius: 8px;
}

.icon.room-options a:hover {
    color: red !important;
    opacity: 1;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}