@import 'variables.scss';

.chat-box-wrapper {
    display: flex;
    justify-content: space-between;
}

.chat-box-wrapper > div {
    margin: 0 8px;
}

.all-users {
    flex-shrink: 1;
    box-shadow: 0 0 4px black;
    padding: 8px;
    text-align: center;
}

.all-users .title {
    font-size: calc($my-font-size * 4/5);
}

.all-users .no-users-online {
    font-size: calc($my-font-size * 2/3);
}

.chat-box {
    padding: 8px;
    text-align: center;
    flex-grow: 4;
    margin: 0 16px;
    box-shadow: 0 0 4px black;
    height: 80vh;
}

.msg-container {
    width: 80%;
    height: 70%;
    margin: 16px auto;
    box-shadow: 0 0 4px black;
    overflow: scroll;
}

.input-message {
    width: 70%;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: none;
}

.input-message input {
    text-align: center;
    margin-top:20px;
}

.input-message .btn-send-message {
    width: 50px;
    height: 40px;
    border: 1px solid black;
    background-color:aqua;
    font-size:calc($my-font-size * 3 / 4);
    position: relative;
}

.input-message .btn-send-message span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-message .btn-send-message:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s linear;
}