@import 'variables.scss';

.profile-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: space-around;
}

.profile-avatar {
    width: 30%;
    text-align: center;
    position: relative;
}

.profile-avatar img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin:8px auto 8px;
    box-shadow: 0 0 4px black;
}

.edit-avatar {
    font-size: calc($my-font-size * 2/3);
    box-shadow: none;
    display: inline-block;
}

input#change-avatar {
    display:none;
}

.profile-info {
    width: 50%;
    text-align: center;
}

.profile-info caption {
    margin:8px;
    text-align: left;
}

.profile-info caption input {
    font-weight: bold;
    font-size: calc($my-font-size * 2);
    height: auto;
}

.profile-info table {
    width: 100%;
}

.profile-info td {
    text-align: left;
    padding:2px;
}

.td-title {
    width: 40%;
}

tfoot td {
    text-align: left !important;
}

.btn {
    display:inline-block;
    background-color:aqua;
    padding: 4px;
    border: 1px solid black;
    border-radius:8px;
    margin-top: 8px;
}

.btn:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s linear
}

table input {
    width: 80%;
    height: 30px;
    margin: auto 0;
    background-color: #ccc;
    border: 1px solid black;
    font-size: calc($my-font-size - 5px);
}

table input:focus,
table input:active {
    outline: none;
    border-color: rgb(32, 148, 194);
    // border-color: aqua;
}

.input-disabled {
    border: none;
    pointer-events: none;
    background-color: transparent;
}

form.form-update-info {
    width: 100%;
}