{{#if data}}
<div>
    <img class="logo"  src="https://cdn-icons-png.flaticon.com/512/924/924874.png" alt="_icon_">
    <div class="home">
        <a href="/">home</a>
    </div>
</div>

<div class="empty"></div>

<div class="user">
    <div class="name">
        Hi, {{data.username}}
    </div>
    <div class="info">
        <img class="avatar" src="{{data.avatar}}" alt="loading...">

        <div class="option">
            <div class="profile">
                <a class="text-black" href="/logout">Profile</a>
            </div>

            <div class="logout">
                <a class="text-black" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

{{else}}
    <img class="logo"  src="https://cdn-icons-png.flaticon.com/512/924/924874.png" alt="_icon_">
    <div class="welcome">Welcome to Chat box</div>
{{/if}}

<script>
    const avatar = document.querySelector('.avatar');
    const option = document.querySelector('.option');
    avatar.onclick = function() {
        if(option.style.display =='' || option.style.display == 'none'){
            option.style.display = 'inline-block';
        }else{
            option.style.display = 'none';
        }
    }
</script>