header {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 5vw;
  height: auto;
  padding: 8px 4px;
  z-index: 1;
}

header .header-profile {
  display: none;
}

.avatar img {
  width: 100%;
  height: 80%;
  border-radius: 50%;
}

header .options {
  height: 10%;
  margin: auto;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 8px black;
}

.options:hover i {
  padding: 0px 8px;
  background-color: #ccc;
  border-radius: 8px;
  transition: background-color 0.2s linear;
}

.options:hover .more {
  display: block;
}

.more {
  font-size: 1.2rem;
  padding: 4px;
  display: none;
}

.more > div {
  margin: 4px 0;
}

.more a {
  opacity: 0.8;
  color: #ccc;
}

.more a:hover {
  opacity: 1;
  color: aqua;
  text-decoration: underline;
}

#main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.chat-wrapper {
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 16px;
  width: 70%;
  height: 85%;
  text-align: center;
}

.item {
  box-shadow: 0 0 4px black;
  background-color: white;
  border-radius: 15px;
}

.item.list {
  width: 30%;
  height: 100%;
  overflow-y: hidden;
}

.item.chat-box {
  width: 65%;
  height: 100%;
}

.chat-box {
  flex-direction: column;
}

.chat-box .chatting-with {
  width: 100%;
  height: 10%;
  background-color: #ccc;
  border-bottom: 1px solid black;
}

.list-friends .items,
.list-rooms .items {
  overflow-y: scroll;
  height: 100%;
}

.list .list-friends,
.list .list-rooms {
  width: 100%;
  height: 35%;
  border-top: 1px solid black;
}

.search {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #ccc;
}

.search input {
  width: 80%;
  margin: 0 4px;
  padding: 8px 8px;
}

.search .btn-search {
  width: 10%;
  height: auto;
  margin-top: 0;
  border-radius: 50%;
}

.list-rooms {
  margin-top: 40px;
}

.list-friends .item,
.list-rooms .item {
  padding: 8px 4px;
  margin: 12px 8px;
}

.room-options .options {
  width: 100%;
  height: 5%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 8px 0;
}

.room-options .options > div {
  padding: 4px;
  font-size: 0.9rem;
}

.room-event {
  margin: 8px 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.room-event input {
  padding: 8px;
  margin: 4px;
  border: 2px solid black;
  display: inline-block;
}

.room-event-btn > div {
  margin: 4px 0;
  font-size: 0.8rem;
}

.room-event .room-info {
  flex-direction: column;
  justify-content: space-between;
}

.room-event .room-info .max-users {
  display: none;
  width: 70%;
  margin: 8px auto;
  border: 2px solid black;
  background-color: transparent;
  font-size: 1.1rem;
  text-align: center;
}

.list .title {
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px;
}

.list .empty {
  width: 100%;
  height: 10%;
}

.list .items .item:hover {
  background-color: #ccc;
  opacity: 0.7;
  cursor: pointer;
}

.list .items .item .room-name {
  min-width: 60%;
}

.list .items .item {
  flex-direction: row;
  justify-content: space-around;
}

.list .items .item .btn-more {
  padding: 4px;
  height: 100%;
  font-size: 1.1rem;
  display: inline-block;
  position: relative;
}

.list .items .item .btn-more:hover {
  opacity: 1;
  font-weight: bold;
  transform: scale(1.5, 1.5);
  transition: transform 0.2s linear;
}

.list .items .item .options {
  padding: 8px 4px;
  border-left: 1px solid black;
  display: none;
}

.list .items .item .options a:hover {
  color: red;
}

/*# sourceMappingURL=chat.css.map */
