.notice-of-join-or-leave {
  padding: 4px;
  text-align: center;
}

header {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 5vw;
  height: auto;
  padding: 8px 4px;
  z-index: 1;
}

header .header-profile {
  display: none;
}

header .avatar {
  flex-direction: column;
  align-items: center;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

header .avatar .name {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  margin: 4px;
}

header .options {
  height: 10%;
  margin: auto;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 8px black;
}

.header-chat-box .options:hover i {
  padding: 0 4px;
  background-color: #ccc;
  border-radius: 10px;
}

.options:hover .more {
  display: block;
}

.more {
  font-size: 1.2rem;
  padding: 4px;
  display: none;
}

.more > div {
  margin: 4px 0;
}

.more a {
  opacity: 0.8;
  color: #ccc;
}

.more a:hover {
  opacity: 1;
  color: aqua;
  text-decoration: underline;
}

.chat-wrapper {
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 16px;
  width: 70%;
  height: 85%;
  text-align: center;
}

.item {
  box-shadow: 0 0 4px black;
  background-color: white;
  border-radius: 15px;
}

.item.list {
  width: 30%;
  height: 100%;
  overflow-y: hidden;
}

.item.chat-box {
  width: 65%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.chat-box .chatting-with {
  width: 100%;
  height: 10%;
  background-color: #ccc;
  border-bottom: 1px solid black;
  border-radius: 10px;
  text-align: left;
  align-items: center;
}

.chat-box .chatting-with .partner-avatar {
  display: inline-block;
  border-radius: 10px;
  height: 100%;
  width: 80px;
}

.chat-box .chatting-with .partner-name {
  display: inline-block;
  flex-grow: 1;
  margin: 0 32px;
  font-size: 2rem;
}

.chat-box .box {
  overflow-y: scroll;
  flex-grow: 1;
}

.chat-box .input-message {
  margin: 32px auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  visibility: hidden;
}

.chat-box .input-message > * {
  display: inline-block;
  margin: 8px 16px;
}

.chat-box .input-message > input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid black;
  font-size: 1rem;
}

.list-friends .items,
.list-rooms .items {
  overflow-y: scroll;
  height: 100%;
}

.list .list-friends,
.list .list-rooms {
  width: 100%;
  height: 35%;
  border-top: 1px solid black;
}

.list-rooms .options {
  flex-direction: row;
}

.list-rooms .options a {
  padding: 4px;
}

.list-rooms .options a:hover {
  cursor: pointer;
  color: red;
}

.search {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #ccc;
  border-radius: 10px;
  border: 1px solid black;
  position: relative;
}

.search input {
  width: 80%;
  margin: 0 4px;
  padding: 8px 8px;
  border: 1px solid black;
}

.search .see-all-users {
  padding: 4px;
  background-color: aqua;
  border-radius: 4px;
  border: 1px solid black;
  margin-right: 2px;
}

.search .see-all-users:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.search .results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 0 4px black;
  margin-top: 8px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 10px;
  overflow-y: scroll;
  max-height: 250px;
}

.search .results .result-item {
  width: 70%;
  margin: 4px auto;
  padding: 4px 8px;
  border-radius: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.search .results .result-item:hover {
  background-color: #ccc;
}

.search .results .result-item img {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px black;
  margin: 0 8px;
}

.search .results .no-results {
  padding: 32px 0;
  font-weight: bold;
  font-size: 2rem;
}

.list .items .item {
  flex-direction: row;
  justify-content: space-around;
}

.list-rooms {
  margin-top: 40px;
}

.list-friends .item,
.list-rooms .item {
  padding: 0px 4px;
  margin: 12px 8px;
}

.list-friends .items .item {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
}

.list-friends .items .item:hover {
  background-color: #ccc;
  cursor: pointer;
}

.list-friends .item img {
  width: 25px;
  height: 25px;
  margin-left: 32px;
  margin-right: 32px;
  border-radius: 50%;
  box-shadow: 0 0 2px black;
}

.room-options .options {
  width: 100%;
  height: 5%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 8px 0;
}

.room-options .options > div {
  padding: 4px;
  font-size: 0.9rem;
}

.room-event {
  margin: 8px 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.room-event input {
  padding: 8px;
  margin: 4px;
  border: 2px solid black;
  display: inline-block;
}

.room-event-btn > div {
  margin: 4px 0;
  font-size: 0.8rem;
}

.room-event .room-info {
  flex-direction: column;
  justify-content: space-between;
}

.room-event .room-info .max-users {
  display: none;
  width: 70%;
  margin: 8px auto;
  border: 2px solid black;
  background-color: transparent;
  font-size: 1.1rem;
  text-align: center;
}

.list .title {
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 4px;
}

.list .empty {
  width: 100%;
  height: 10%;
}

.list .items .item .room-name:hover {
  background-color: #ccc;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 10px;
}

.list .items .item .room-name {
  min-width: 60%;
  padding: 8px;
  margin-top: auto;
  margin-bottom: auto;
}

.list .items .item .btn-more {
  padding: 4px;
  height: 100%;
  font-size: 1.1rem;
  display: inline-block;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.list .items .item .btn-more:hover {
  opacity: 1;
  font-weight: bold;
  transform: scale(1.5, 1.5);
  transition: transform 0.2s linear;
}

.list .items .item .options {
  padding: 8px 4px;
  border-left: 1px solid black;
  display: none;
}

.list .items .item .options a:hover {
  color: red;
}

.btn-leave-chatting {
  padding: 0 32px;
  font-weight: bold;
}

.btn-leave-chatting:hover {
  transform: scale(2);
  transition: transform 0.2s linear;
  cursor: pointer;
}

.your-message {
  width: 100%;
  height: auto;
  padding: 4px;
  margin-top: 16px;
  margin-left: 16px;
  text-align: right;
}

.other-message {
  width: 100%;
  height: auto;
  padding: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.other-message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 2px black;
  margin-right: 8px;
}

.other-message img:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.your-message span,
.other-message span {
  display: inline-block;
  max-width: 150px;
  height: auto;
  padding: 4px 8px;
  margin: 4px 16px;
  border-radius: 10px;
  word-wrap: break-word;
  text-align: left;
}

.your-message span {
  background-color: aqua;
  margin-right: 32px;
}

.other-message span {
  background-color: #ccc;
}

.other-message .content-other-message {
  position: relative;
}

.other-message .name-of-sender {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-100%);
  margin-left: 16px;
  font-size: 0.8rem;
  white-space: nowrap;
}

.loader {
  border: 4px solid #ccc;
  border-top: 4px solid #5d6060;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: 16px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modal.link-room .container {
  opacity: 2 !important;
  background-color: #a59b9b;
  color: black;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 32px;
  border-radius: 10px;
}

.modal.link-room .container > * {
  margin: 8px;
}

.modal.link-room .container .link {
  background-color: white;
  padding: 4px;
  border-radius: 10px;
  flex-grow: 1;
  border: 1px solid black;
}

.modal.link-room .container .name {
  font-weight: bold;
  font-size: 1.3rem;
}

.modal.link-room .container .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  font-size: 1.1rem;
}

.modal.link-room .container .btn-close:hover {
  transform: scale(1.5);
  cursor: pointer;
  transition: transform 0.2s linear;
}

.modal.link-room .container .copy-link-room {
  position: relative;
}

.modal.link-room .container .copy-link-room .tooltip {
  position: absolute;
  left: 0;
  bottom: 100%;
  transform: translateX(-50%);
  background-color: aqua;
  color: black;
  border-radius: 10px;
  margin-bottom: 8px;
  padding: 4px;
  font-size: 0.8rem;
  display: none;
}

/*# sourceMappingURL=chat.css.map */
