<div class="client-id" data-user_id=<%= userId %>></div>

<!-- in profile -->
<div class="header-profile">
    <div class="btn-back">
        <a href="/api/v2/chat"><i class="fas fa-chevron-circle-left"></i></a>
    </div>
</div>