<!-- in chat box -->
<div class="client-id" data-user_id=<%= userId %>></div>

<div class="header-chat-box">
    <div class="avatar flex">
        <img src="<%= user.avatar %>" alt="...">
        <div class="name"><%= user.name %></div>
    </div>
    
    <div class="options">
        <i class="ti-more"></i>
    
        <div class="more">
            <div class="profile"><a href="/api/v2/user/profile?id=<%= user.userId %>">Profile</a></div>
            <div class="logout"><a href="/api/v2/auth/logout">Logout</a></div>
        </div>
    </div>
</div>

<!-- in profile -->
<div class="header-profile">
    <div class="btn-back">
        <a href="/api/v2/chat"><i class="ti-arrow-circle-left"></i></a>
    </div>
</div>