<div class="nav flex">
    <!-- <img class="nav__avatar" src="https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/image/rDtN98Qoishumwih/glossy-3d-web-20-messenger-symbol-icon-set_M1RnP_o__thumb.jpg" alt="..."> -->
    <div class="nav__chat">Chat box</div>
    <div class="nav__all-users">All users</div>
    <div class="nav__mail">Email</div>
</div>