<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/partials/head.ejs') %>
    <link rel="stylesheet" href="/style/allUsers.css">
    <link rel="stylesheet" href="/style/nav.css">
</head>

<body>
    <header>
        <%-include('../components/partials/nav.ejs')%>
    </header>

    <div id="main">
        <%- include('../components/allUsers.ejs') %>
    </div>
    
    <script src="/js/base.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/allUsers.js"></script>
</body>

</html>