<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/partials/head.ejs') %>
    <link rel="stylesheet" href="/style/chat.css">
</head>

<body>

    <header>
        <%- include('../components/partials/header-chat.ejs') %>
    </header>

    <div id="main">
        <%-include('../components/chat.ejs')%>
    </div>

    <a href="/api/v2/user/get-all-user">GET ALL USERS</a>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/event.js"></script>
</body>

</html>