<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/partials/head.ejs') %>
    <link rel="stylesheet" href="/style/editRoom.css">
</head>

<body>
    <header>
        <%-include('../components/partials/header-back.ejs')%>
    </header>
    
    <div id="main">
        <%-include('../components/editRoom.ejs')%>
    </div>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/editRoom.js"></script>
</body>

</html>