<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/partials/head.ejs') %>
    <link rel="stylesheet" href="/style/login.css">
</head>

<body>
    
    <div id="main">
        <%-include('../components/login.ejs')%>
    </div>

    <footer>
        <%- include('../components/partials/footer.ejs') %>
    </footer>
    
    <script src="/js/base.js"></script>
    <script src="/js/login.js"></script>
</body>

</html>