<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/partials/head.ejs') %>
    <link rel="stylesheet" href="/style/profile.css">
</head>

<body>
    <header>
        <%-include('../components/partials/header-profile.ejs')%>
    </header>

    <div id="main">
        <%-include('../components/profile.ejs')%>
    </div>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/profile.js"></script>
</body>

</html>