<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/partials/head.ejs') %>
    <link rel="stylesheet" href="/style/register.css">
</head>

<body>

    <div id="main">
        <%-include('../components/register.ejs')%>
    </div>

    <script src="/js/register.js"></script>
</body>

</html>