<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/partials/head.ejs') %>
    <link rel="stylesheet" href="/style/status.css">
</head>

<body>

    <div id="main">
        <div class="status flex">
            <div class="title">
                <%= title %>
            </div>

            <div class="message">
                <%= message %>
            </div>
            
            <div class="btn comeTo">
                <a href="<%= directTo %>">Got it</a>
            </div>
        </div>
    </div>

    <script src="/js/base.js"></script>
    <script src="/js/status.js"></script>
</body>

</html>