* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue",Helvetica;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(120deg, #2980b9, #8e44ad);
    position: relative;
}

#main {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(120deg, #2980b9, #8e44ad);
}

.flex {
    display:flex;
}

.btn {
    padding: 8px;
    width: 100%;
    background-color: rgb(16, 134, 180);
    border-radius: 10px;
    font-size: 1.2rem;
    color: white
}

.btn:hover {
    opacity: 0.6 !important;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(238, 0, 238);
}

.input-disabled {
    background-color: #ccc;
    border:none;
    pointer-events: none;
    border:none !important;
}

.btn {
    background-color: aqua;
    border: 2px solid black;
    text-align: center;
    padding: 2px;
    width: auto;
    color:black;
}

.btn:hover {
    opacity: 0.6;
    transition: opacity 0.2s ease;
    cursor: pointer;
}

.invisibility {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border:none;
}

.btn-login-with-google {
    display: inline-block;
    padding: 8px 2px;
    margin: 2px;
    box-shadow: 0 0 4px black;
    background-color: rgb(228, 216, 216);
}


.btn-login-with-google:hover {
    opacity: 0.7;
    transition: opacity 0.2s ease;
    cursor: pointer;
}

.btn-login-with-google:hover a {
    color: black;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.modal {
    display: none;
    background-color: rgba(255,255,255,0.5) ;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.btn-back:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s linear;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

input {
    outline: none;
}
