.modal {
    background: linear-gradient(120deg, #2980b9, #8e44ad);
}

.change-password {
    text-align: center;
    z-index: 100;
}

.change-password .title {
    color: black;
    font-size:1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 4px;
}

.change-password .container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 25%;
    background-color: #ccc;
    border-radius: 10px;
}
.change-password .container > * {
    padding: 4px;
    margin: 8px 0;
}

.change-password form {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.change-password form input {
    padding: 8px 4px;
    margin: 4px 0 ;
    width: 100%;
}

.change-password .button {
    justify-content: space-around;
    margin-top: 8px;
}