.modal.link-room .container {
    opacity: 2 !important;
    background-color: rgb(165, 155, 155);
    color: black;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    padding: 32px;
    border-radius: 10px;
}

.modal.link-room .container > * {
    margin: 8px;
}

.modal.link-room .container .link {
    background-color: white;
    padding: 4px;
    border-radius:10px;
    flex-grow: 1;
    border: 1px solid black;
}

.modal.link-room .container .name {
    font-weight: bold;
    font-size: 1.3rem;
}

.modal.link-room .container .btn-close {
    position: absolute;
    top:0;
    right:0;
    padding: 4px 8px;
    font-size: 1.1rem;
}

.modal.link-room .container .btn-close:hover {
    transform: scale(1.5);
    cursor: pointer;
    transition: transform 0.2s linear;
}

.modal.link-room .container .copy-link-room {
    position: relative;
}

.modal.link-room .container .copy-link-room .tooltip {
    position: absolute;
    left: 0;
    bottom: 100%;
    transform: translateX(-50%);
    background-color: aqua;
    color:black;
    border-radius: 10px;
    margin-bottom: 8px;
    padding: 4px;
    font-size: 0.8rem;
    display: none;
}
