header.header_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 64px;
    z-index:100;
    background-color: #ccc;
    color: black;
    border-bottom-right-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px black;
    // background: linear-gradient(160deg,  #8e44ad, #2980b9);

}

.nav {
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
}

.nav > div {
    padding: 16px 16px 32px;
    min-width: 100px;
    text-align: center;
    text-transform: uppercase;
}

.nav > div:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.nav > div:hover {
    cursor: pointer;
    transition: all 0.2s ease;
    opacity: 0.5;
}
