header {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    font-size: 2rem;
    padding: 16px;
    z-index: 100;
}

header:hover {
    opacity: 0.6;
}

header .header-chat-box {
    display: none;
}

header i:hover {
    color: black;
}

.empty {
    width: 100%;
    height: 130px;
}

.profile {
    width: 30%;
    height: auto;
    background-color: #ccc;
    margin: 250px auto;
    position: relative;
    text-align: center;
    border-radius: 10px;
}

.profile > div {
    margin: 16px 0;
}

.profile .profile-actions {
    flex-direction: row;
    justify-content: space-around;
}

.profile-actions .item {
    padding: 8px;
    border: 1px solid black
}

.profile-actions .respond-request {
    position: relative;
     padding: 8px;
    background-color: aqua;
    border-radius: 10px;
    font-size: 1.2rem;
}

.profile-actions .respond-request > div:hover {
    cursor: pointer;
}

.respond-btn:hover {
    opacity: 0.6;
}

.answer > div:hover {
    cursor: pointer;
    opacity: 0.8;
}

.respond-request .answer {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, -100%);
    display: none;
}

.respond-request .answer > div {
    margin: 4px;
    padding: 8px;
    width: 100%;
    background-color: aqua;
    border-radius: 10px;
    font-size: 1.2rem;
    border: 1px solid black;
}

.profile-actions .friend  {
    position: relative;
    border: none;
    padding: 0;
}

.profile-actions .friend > div {
    padding: 8px;
}

.profile-actions .friend .unfriend {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, -100%);
    white-space: nowrap;
    display: none;
}

.avatar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
}

.formAvatar {
    width: 100%;
    height: 100%;
}

.img-avatar {
    border-radius: 50%;
    box-shadow: 0 0 4px black;
    width: 100%;
    height: 100%;
}

.avatar .icon-change-avatar {
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    right: -10px;
    box-shadow: 0 0 4px white;
    transform: translate(-30%, 50%);
    color: #ccc;
    background-color: black;
    padding: 4px;
    border-radius: 50%;
}

.avatar .icon-change-avatar:hover {
    color: rgb(255, 0, 255);
    cursor: pointer;
}

.detail .name {
    font-size: 2rem;
    font-weight: bold;
}

.wrapper-options {
    padding: 16px 0;
    position: relative;
}

.options {
    flex-direction: row;
    justify-content:space-evenly;
}

.options > div {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 25%;
    border-radius: 10px;
}

.options > div:hover {
    background-color: rgb(119, 119, 119) !important;
    color: white;
    cursor: pointer;
}

.options-privacy,
.options-settings {
    padding: 16px 32px;
    border-radius: 10px;
    height: auto;
    background-color: #ccc;
    position: absolute;
    top: calc(100% + 32px);
    left: 0;
    right: 0;
    z-index: 100;
    display: none;
    font-size: 1.4rem;
}

.options-privacy > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.options-privacy label {
    display: inline-block;
    min-width: 150px;
    text-align: left;
}

.options-privacy input {
    flex-grow: 1;
    padding: 4px;
    font-size: 1.4rem;
}

.button {
    flex-direction: row;
    justify-content: flex-start;
    width: 10%;
}

.button > div {
    color: black;
    margin: 0 8px;
}

input[type="file"] {
    display:none;
}

.btn-edit-avatar {
    position: absolute;
    top:60%;
    right:0;
    transform: translate(0, 70%);
}

.btn-edit-avatar .btn {
    font-size: 0.8rem;
    padding: 2px;
    margin: 2px 0;
}

.btn-back a {
    color: white;
}

.btn-back a:hover {
    color:rgb(255, 0, 255);
}

.options-settings {}

.options-settings .item {
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0;
}

.options-settings .item  .btn {
    min-width: 100px;
}