* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.invisible {
  display: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

a {
  color: black;
  opacity: 0.5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ea00ff !important;
}

#main {
  width: 90vw;
  margin: 72px auto 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title-container {
  text-align: center;
}

.title {
  display: inline-block;
  box-shadow: 0 0 4px #ccc;
  border-radius: 6px;
  background-color: aqua;
  padding: 4px;
  font-size: 37.5px;
  text-transform: uppercase;
  margin-top: 4px;
}

.btn-submit {
  text-align: left;
  padding: 4px;
}

.btn-submit span {
  display: inline-block;
  background-color: aqua;
  border-radius: 6px;
  padding: 4px;
  border: 2px solid black;
}

.btn-submit span:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.btn {
  display: inline-block;
  background-color: aqua;
  padding: 4px;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 8px;
}

.btn:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.header-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 56px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
}

.header-container .welcome {
  margin: auto 4px;
}

.logo,
.avatar {
  border-radius: 50%;
  margin: 0 4px;
  height: 56px;
  width: 56px;
}

.info .option {
  display: none;
}

.empty {
  flex-grow: 1;
}

.header-container > div {
  display: flex;
}

.home a {
  color: white;
  opacity: 1;
  line-height: 56px;
  text-transform: uppercase;
}

.user {
  margin: 0 16px;
}

.user .name {
  margin: auto 0;
  padding: 0 8px;
}

.user .avatar {
  box-shadow: 0 0 8px white;
}

.avatar:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.info {
  position: relative;
}

.info .option {
  width: 200%;
  display: none;
  box-shadow: 0 0 4px black;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 4px;
  text-align: center;
  background-color: white;
}

.option a {
  opacity: 1;
  text-decoration: none;
}

.option > div {
  padding: 2px;
}

.option > div:hover {
  color: #ea00ff;
  background-color: #ccc;
  cursor: pointer;
}

.chat-box-wrapper {
  display: flex;
  justify-content: space-between;
}

.chat-box-wrapper > div {
  margin: 0 8px;
}

.info-room {
  display: flex;
  flex-direction: column;
  width: 15%;
  justify-content: space-around;
}

.all-users {
  flex-shrink: 1;
  box-shadow: 0 0 4px black;
  padding: 8px;
  text-align: center;
  height: 30%;
  overflow-y: scroll;
}

.all-users .title {
  font-size: 20px;
}

.all-users .no-users-online {
  font-size: 16.6666666667px;
}

.user-rooms {
  flex-shrink: 1;
  box-shadow: 0 0 4px black;
  padding: 8px;
  text-align: center;
  height: 30%;
}

.user-rooms .title {
  font-size: 20px;
}

.user-rooms .container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 70%;
  width: 80%;
  box-shadow: 0 0 4px black;
  margin: 16px auto 0;
}

.user-rooms .container .room-item {
  font-size: 16.6666666667px;
  width: 80%;
  margin: 2px auto;
}

.room-management {
  flex-shrink: 1;
  box-shadow: 0 0 4px black;
  padding: 8px;
  text-align: center;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.room-management .title {
  font-size: 20px;
}

.room-management .options {
  margin: 4px 2px;
  font-size: 16.6666666667px;
}

.room-management .form-action-room {
  display: initial;
  width: 100%;
  box-shadow: none;
  margin: 4px auto;
}

.form-action-room .input-room-action {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.chat-box {
  padding: 8px;
  text-align: center;
  flex-grow: 4;
  margin: 0 16px;
  box-shadow: 0 0 4px black;
  height: 80vh;
}

.chatting {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.chatting .title {
  font-size: 20px;
  margin-top: 8px;
}

.chatting .partner {
  height: 30%;
  text-align: center;
  box-shadow: 0 0 4px black;
}

.msg-container {
  width: 80%;
  height: 70%;
  margin: 16px auto;
  box-shadow: 0 0 4px black;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.input-message {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  min-height: 32px;
  box-shadow: none;
}

.input-message > input {
  display: initial;
  margin: 0 8px 0 0;
  height: 100%;
  width: 600px;
  text-align: center;
}

.input-message .btn-send-message {
  height: 100%;
  margin: 0 0 0 8px;
  padding: 2px;
}

.message {
  font-size: 16.6666666667px;
  min-width: 20%;
  max-width: 50%;
  height: auto;
  display: flex;
  margin-top: 20px;
}

.message img {
  height: 25px;
  width: 25px;
  margin: 2px 4px;
  border-radius: 50%;
}

.message .message-content {
  display: block;
  background-color: aqua;
  padding: 4px;
  border-radius: 8px;
  margin: auto 0;
  max-width: 200px;
  text-align: justify;
  word-wrap: break-word;
}

.message .content {
  position: relative;
}

.self {
  justify-content: flex-end;
  margin-left: 50%;
}

.others {
  justify-content: flex-start;
}

.sender-name {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% - 4px));
  z-index: 111;
  font-size: 12.5px;
  width: 200px;
  text-align: left;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  text-align: center;
  box-shadow: 0 0 4px #8b8b8b;
}

form > * {
  margin: 8px 4px 8px;
}

form label {
  display: block;
  text-align: left;
}

form input {
  width: 80%;
  padding: 8px;
  margin-top: 4px;
}

.others {
  font-size: 16.6666666667px;
}

.profile-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-bottom: 16px;
  justify-content: space-around;
}

.profile-avatar {
  width: 30%;
  text-align: center;
  position: relative;
}

.profile-avatar img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: 8px auto 8px;
  box-shadow: 0 0 4px black;
}

.edit-avatar {
  font-size: 16.6666666667px;
  box-shadow: none;
  display: inline-block;
}

input#change-avatar {
  display: none;
}

.profile-info {
  width: 50%;
  text-align: center;
}

.profile-info caption {
  margin: 8px;
  text-align: left;
}

.profile-info caption input {
  font-weight: bold;
  font-size: 50px;
  height: auto;
}

.profile-info table {
  width: 100%;
}

.profile-info td {
  text-align: left;
  padding: 2px;
}

.td-title {
  width: 40%;
}

tfoot td {
  text-align: left !important;
}

table input {
  width: 80%;
  height: 30px;
  margin: auto 0;
  background-color: #ccc;
  border: 1px solid black;
  font-size: 20px;
}

table input:focus,
table input:active {
  outline: none;
  border-color: #2094c2;
}

.input-disabled {
  border: none;
  pointer-events: none;
  background-color: transparent;
}

form.form-update-info {
  width: 100%;
}

.modal {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .container {
  width: 40%;
  min-height: 30%;
  background-color: #7e7b7b;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 16px;
}

.container .title {
  width: 50%;
  margin: 0 auto;
}

.container .message {
  flex-grow: 2;
  margin: 0 auto;
  width: 70%;
  flex-direction: column;
  margin-top: 16px;
  font-size: 25px;
  color: white;
}

.container .btn {
  width: 30%;
  margin: 2px auto;
}

/*# sourceMappingURL=app.css.map */
