<div class="change-password modal">
    <div class="container">
        <div class="title">Change password</div>
        <form class="flex change-password-form" action="/api/v2/user/change-password?_method=PATCH" method="POST">
            <input type="password" id = "change-password" placeholder="Current password" name="currentPassword">
            <input type="password" id = "new-password" placeholder="New password" name="newPassword">
            <input type="password" id = "re-type-password" placeholder="Re-type new password" name="confirmNewPassword">
            <div class="button flex">
                <div class="update btn">Change</div>
                <div class="cancel btn">Cancel</div>
            </div>
        </form>
    </div>
</div>
