<div class="chat-wrapper flex">
    <div class="list item">
        <div class="search flex">
            <input type="text">
            <div class="btn btn-search">
                <i class="ti-search"></i>
            </div>
        </div>

        <div class="friend"></div>
    </div>

    <div class="chat-box item flex">
        <div class="chatting-with"></div>
        
        <div class="box"></div>
    </div>
</div>