<div class="link-room modal">
    <div class="container flex">
        <div class="btn-close">
            <i class="fas fa-times-circle"></i>
        </div>
        <label class="name"></label>
        <input class="link" disabled type="text">
        <div class="btn copy-link-room">
            Copy
            <div class="tooltip">Copied</div>
        </div>
    </div>
</div>
