<div class="title-container"><span class="title">Login</span></div>

<form class="login-form" action="/api/auth/login" method="POST">
    <div class="email">
        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Enter your email address" name="email">
    </div>

    <div class="password">
        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="Enter your password" name="password">
    </div>

    <div class="btn-submit btn-submit-login"><span>Login</span></div>

    <div class="others">
        You haven't had account yet? <a href="/api/register">Register</a>
    </div>
</form>

<script>
    document.querySelector('.btn-submit-login').onclick = function submitForm() {
        document.querySelector('.login-form').submit();
    }
</script>
